@import 'styles/variaveis';
@import 'styles/breakpoints';

$bolos: #e2860e;
$trufas: #bb200b;
$cupcakes: #1a9b65;
$drinks: #4077aa;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: space-between;
    max-width: 700px;
    @media (max-width: $desktop_xsm) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
  }
  .tipo {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: .8rem 1.5rem;
    color: #f0f0f0;
    border-radius: 0.3rem;
    cursor: default;
    &__bolos {
      background-color: $bolos;
    }
    &__trufas {
      background-color: $trufas;
    }
    &__cupcakes {
      background-color: $cupcakes;
    }
    &__drinks {
      background-color: $drinks;
    }
  }
  .porcao,
  .qtdpessoas,
  .valor {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
  }
  .valor {
    color: $brown;
    font-size: 1.7rem;
  }

