$padding-horizontal-mobile: 50px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

$dark: #242536;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$grey: #e4e4e4;
$dark-grey: #92929d;
$brown: #9c7a52;
$dark-brown: #97642a; 
