@import 'styles/variaveis';
@import 'styles/breakpoints';

.menu {
  padding: 20px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 20px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }
}

.header {
  height: 300px;
  background-image: url('/assets/cardapio/header.png');
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  padding: 0px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }

  &__text {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
  }
}

.cardapio {
  padding: 50px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  }
  &__titulo {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }
}